In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Rahul Awari\Downloads\Assignment\Product Launch Dataset.csv",encoding='latin-1')
df.head()

,market_subcategory,id,eventdate,country,positioning,region,flavor
0,Other Soft Drinks,1,01-01-2005,Netherlands,"Low Calorie, Natural",West Europe,"Herbs, not specified; Fruit, not specified"
1,Carbonates,2,01-01-2005,Ireland,Convenience - Consumption,West Europe,"Fruit, not specified"
2,Juice & Juice Drinks,3,01-01-2005,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Lemon; Honey; Ginger
3,Juice & Juice Drinks,4,01-01-2005,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango; Passion Fruit
4,Juice & Juice Drinks,5,01-01-2005,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango

In [3]:
df['flavor']=df['flavor'].astype(str)
df

,market_subcategory,id,eventdate,country,positioning,region,flavor
0,Other Soft Drinks,1,01-01-2005,Netherlands,"Low Calorie, Natural",West Europe,"Herbs, not specified; Fruit, not specified"
1,Carbonates,2,01-01-2005,Ireland,Convenience - Consumption,West Europe,"Fruit, not specified"
2,Juice & Juice Drinks,3,01-01-2005,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Lemon; Honey; Ginger
3,Juice & Juice Drinks,4,01-01-2005,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango; Passion Fruit
4,Juice & Juice Drinks,5,01-01-2005,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango
...,...,...,...,...,...,...,...
114684,Other Soft Drinks,114685,01-10-2014,United States,"Low Calorie, Energy/Alertness, Ethical - Packa...",North America,"Berry, Wildberry"
114685,Other Soft Drinks,114686,01-10-2014,United States,"Low Calorie, Energy/Alertness, Ethical - Packa...",North America,"Raspberry, Not Specified"
114686,Iced Tea,114687,01-09-2014,United States,"Antioxidant, Natural, Ethical - Packaging, Con...",North America,"Tea, White"
114687,Iced Tea,114688,01-09-2014,United States,"Antioxidant, Natural, Ethical - Packaging, Con...",North America,"Tea, Green; Citrus, Not Specified"
114688,Energy Drinks,114689,01-10-2014,United States,"Kosher, Juice Drinks (up to 25% juice), Allerg...",North America,"Cherry, Not Specified"

In [4]:
df_fruit=pd.read_csv(r"C:\Users\Rahul Awari\Downloads\Assignment\Flavor Classification Dataset.csv",encoding='latin-1')
df_fruit

     Flavor_Group           flavor
0         Alcohol    Vodka, Citron
1         Alcohol          Bacardi
2         Alcohol    Bacardi, Gold
3         Alcohol  Bacardi, Silver
4         Alcohol        Beer, Ale
...           ...              ...
1440    Vegetable      Yam, Purple
1441    Vegetable  Yellow Wax Bean
1442    Vegetable             Yuca
1443    Vegetable            Yucca
1444    Vegetable         Zucchini

[1445 rows x 2 columns]

In [5]:
dftemp=df_fruit[(df_fruit['Flavor_Group'] == "Fruit")]
dftemp['flavor'].astype(str)
dftemp

    Flavor_Group         flavor
516        Fruit           Abiu
517        Fruit           Akee
518        Fruit      Alibertia
519        Fruit      Aloe Vera
520        Fruit  Apple, Golden
..           ...            ...
776        Fruit      Wax Jambu
777        Fruit       Waxberry
778        Fruit   White Sapote
779        Fruit   Whortleberry
780        Fruit     Wood Apple

[265 rows x 2 columns]

In [6]:
listfruit=dftemp['flavor'].tolist()
listfruit

['Abiu',
 'Akee',
 'Alibertia',
 'Aloe Vera',
 'Apple, Golden',
 'Apple, Granny smith',
 'Apple, Green',
 'Apple, Not specified',
 'Apple, Red',
 'Apricot',
 'Araza',
 'Bael Fruit',
 'Banana',
 'Barbados Cherry',
 'Bayberry',
 'Bayberry, Red',
 'Bergamot',
 'Berry, Aronia (Chokeberry)',
 'Berry, Barberry',
 'Berry, Bearberry',
 'Berry, Blackberry',
 'Berry, Blueberry',
 'Berry, Boysenberry',
 'Berry, Buffalo',
 'Berry, Cranberry',
 'Berry, Crowberry',
 'Berry, Elderberry',
 'Berry, Gooseberry',
 'Berry, Hackberry',
 'Berry, Lingon',
 'Berry, Marion',
 'Berry, Miracle',
 'Berry, Mixed',
 'Berry, Moringa',
 'Berry, Nannyberry',
 'Berry, Not specified',
 'Berry, Red',
 'Berry, Salmonberry',
 'Berry, Strawberry Tree',
 'Berry, Ugniberry',
 'Berry, Wildberry',
 'Berry, Wineberry',
 'Bignay',
 'Bilberry',
 'Biriba',
 'Black Sapote',
 'Blackcurrant',
 'Bluecurrant',
 'Brambleberry',
 'Cannonball',
 'Canteloupe',
 'Cassis',
 'Ceylon Gooseberry',
 'Champedak',
 'Cherry Apple',
 'Cherry, Beach',
 'Cherry, Black',
 'Cherry, Maraschino',
 'Cherry, morello',
 'Cherry, Not specified',
 'Cherry, Red',
 'Cherry, Sour',
 'Cherry, Sweet',
 'Cherry, Wild',
 'Chinese Gooseberry',
 'Chokeberry',
 'Citrus, Not specified',
 'Clementine',
 'Coconut',
 'Cowberry',
 'Cupuacu',
 'Currant, not specified',
 'Date',
 'Exotic Fruit, Not specified',
 'Feijoa',
 'Fig',
 'Forest Fruit',
 'Fruit, Camu Camu',
 'Fruit, Doum Palm',
 'Fruit, Not specified',
 'Galanga',
 'Gandara (Plum Mango)',
 'Gandaria',
 'Genipap',
 'Giant Granadilla',
 'Gourd, Bitter',
 'Gourd, White',
 'Grape, black',
 'Grape, Green',
 'Grape, Muscat',
 'Grape, Not specified',
 'Grape, Red',
 'Grape, White',
 'Grapefruit, Not specified',
 'Grapefruit, Pink',
 'Grapefruit, Red',
 'Greengage',
 'Grumichama',
 'Guava',
 'Heathberry',
 'Honeydew',
 'Huckleberry',
 'Indian Jujube',
 'Ita Palm',
 'Jaboticaba',
 'Jamaica Cherry',
 'Kechapi',
 'Kepel',
 'Ketupa',
 'Kiwano',
 'Kiwi',
 'Langsat/Duku',
 'Lemon',
 'Lemon, Bitter',
 'Lemon-Lime',
 'Lemonade',
 'Lemonade, Pink',
 'Lime',
 'Lime, Key',
 'Longan',
 'Loquat',
 'Lucmo',
 'Lungan',
 'Mabolo',
 'Macapuno',
 'Macis',
 'Malaga',
 'Malay Apple',
 'Mamey Sapote',
 'Mandarin',
 'Mango',
 'Mango, Green',
 'Maprang',
 'Margoline',
 'Matrimony Vine',
 'Medlar',
 'Melon, Not specified',
 'Minneola',
 'Monkey Bread',
 'Morinda',
 'Naartjie',
 'Nance',
 'Nangka',
 'Nashi Pear',
 'Nata De Coco',
 'Nectarine',
 'Orange, Blood',
 'Orange, Chinotto',
 'Orange, Not specified',
 'Orange, Ruby',
 'Orange, Sicilian',
 'Orange, Sweet',
 'Orange, Valencia',
 'Ortanique',
 'Otaheite Gooseberry',
 'Pandan',
 'Papaya',
 'Passion Fruit',
 'Peach',
 'Peach Palm',
 'Peach, White',
 'Pear',
 'Persimmon',
 'Philippine Roseapple',
 'Physalis',
 'Pineapple',
 'Pineberry',
 'Pitahaya',
 'Pitanga',
 'Plantain',
 'Plum',
 'Plum, Mirabelle',
 'Prickly Pear',
 'Prune',
 'Pulasan',
 'Raisin',
 'Rambai',
 'Rambutan',
 'Raspberry, black',
 'Raspberry, Blue',
 'Raspberry, Not specified',
 'Raspberry, Red',
 'Redcurrant',
 'Rhubarb',
 'Rose Apple',
 'Rosehip',
 'Sala',
 'Salak',
 'Sansapote',
 'Santoli',
 'Sapodilla',
 'Satsuma',
 'Sea Grape',
 'Shaddock',
 'Sloeberry',
 'Soncoya',
 'Star Apple',
 'Star Nut Palm',
 'Strawberry',
 'Sugar Apple',
 'Sultana',
 'Superfruit, Acai',
 'Superfruit, Acerola',
 'Superfruit, Agave',
 'Superfruit, Baobab',
 'Superfruit, Cactus',
 'Superfruit, Caja',
 'Superfruit, Calabash',
 'Superfruit, Calamansi',
 'Superfruit, Camu camu',
 'Superfruit, Carambola',
 'Superfruit, Cherimoya',
 'Superfruit, Cloudberry',
 'Superfruit, Custard Apple (Noi Naa)',
 'Superfruit, Dragonfruit',
 'Superfruit, Durian',
 'Superfruit, Goji',
 'Superfruit, Goldenberry',
 'Superfruit, Gooseberry',
 'Superfruit, Hawthorn',
 'Superfruit, Hogplum',
 'Superfruit, Jackfruit',
 'Superfruit, Jujube',
 'Superfruit, Komatsuna',
 'Superfruit, Kumquat',
 'Superfruit, Loganberry',
 'Superfruit, Lucuma',
 'Superfruit, Lychee',
 'Superfruit, Mangosteen',
 'Superfruit, Maqui (Chilean Wineberry)',
 'Superfruit, Marula',
 'Superfruit, Mulberry',
 'Superfruit, Osmanthus',
 'Superfruit, Pawpaw',
 'Superfruit, Pomegranate',
 'Superfruit, Pomelo',
 'Superfruit, Quince',
 'Superfruit, Seabuckthorn',
 'Superfruit, Soursop & Guanabana',
 'Superfruit, Starfruit',
 'Superfruit, Umbu',
 'Superfruit, Yacon',
 'Superfruit, Yumberry',
 'Superfruit, Yuzu',
 'Surinam Cherry',
 'Sweet Grenadilla',
 'Sweetsop',
 'Tamarillo',
 'Tamarind',
 'Tangelo',
 'Tangerine',
 'Tayberry',
 'Temple Mandarin',
 'Tree Tomato',
 'Tropical Fruit, Not specified',
 'Ube',
 'Ugli',
 'Voavanga',
 'Water Apple\xa0',
 'Watermelon',
 'Wax Jambu',
 'Waxberry',
 'White Sapote',
 'Whortleberry',
 'Wood Apple']

In [7]:
df['eventdate']=pd.to_datetime(df['eventdate'])
df

,market_subcategory,id,eventdate,country,positioning,region,flavor
0,Other Soft Drinks,1,2005-01-01,Netherlands,"Low Calorie, Natural",West Europe,"Herbs, not specified; Fruit, not specified"
1,Carbonates,2,2005-01-01,Ireland,Convenience - Consumption,West Europe,"Fruit, not specified"
2,Juice & Juice Drinks,3,2005-01-01,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Lemon; Honey; Ginger
3,Juice & Juice Drinks,4,2005-01-01,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango; Passion Fruit
4,Juice & Juice Drinks,5,2005-01-01,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango
...,...,...,...,...,...,...,...
114684,Other Soft Drinks,114685,2014-01-10,United States,"Low Calorie, Energy/Alertness, Ethical - Packa...",North America,"Berry, Wildberry"
114685,Other Soft Drinks,114686,2014-01-10,United States,"Low Calorie, Energy/Alertness, Ethical - Packa...",North America,"Raspberry, Not Specified"
114686,Iced Tea,114687,2014-01-09,United States,"Antioxidant, Natural, Ethical - Packaging, Con...",North America,"Tea, White"
114687,Iced Tea,114688,2014-01-09,United States,"Antioxidant, Natural, Ethical - Packaging, Con...",North America,"Tea, Green; Citrus, Not Specified"
114688,Energy Drinks,114689,2014-01-10,United States,"Kosher, Juice Drinks (up to 25% juice), Allerg...",North America,"Cherry, Not Specified"

In [8]:
df['quarter']=df['eventdate'].dt.to_period('Q')

In [24]:
listquarter=df['quarter'].unique()
len(listquarter)

17

In [42]:
list1=[]
for i in listquarter:
    count=0
    for j in listfruit:
        v=len(df[(df['quarter'] == i) & (df['flavor'].str.match(j,case=False))])
        count=count+v
    list1.append(count)
list1

[5405,
 4,
 6369,
 4,
 5146,
 9,
 5420,
 5191,
 7405,
 9144,
 9487,
 2,
 12075,
 0,
 11565,
 6,
 1]

In [43]:
len(list1)

17

In [44]:
dfz=df[(df['quarter'] == listquarter[0]) & (df['flavor'].str.contains("Passion Fruit",regex=False))]

In [45]:
dfz

,market_subcategory,id,eventdate,country,positioning,region,flavor,quarter
3,Juice & Juice Drinks,4,2005-01-01,Ireland,"100% Not from Concentrate, Convenience - Consu...",West Europe,Mango; Passion Fruit,2005Q1
15,Energy Drinks,16,2005-01-01,France,"Convenience - Consumption, Energy/Alertness",West Europe,Passion Fruit,2005Q1
42,Juice & Juice Drinks,43,2005-01-01,Sweden,"100% Reconstituted, Convenience - Ready Prepar...",West Europe,Passion Fruit,2005Q1
48,Juice & Juice Drinks,49,2005-01-01,United States,"100% Reconstituted, Convenience - Consumption,...",North America,"Wildberry|| Grape, white|| Apple, red|| Grape,...",2005Q1
58,Drink Concentrates & Mixes,59,2005-01-01,Brazil,"Economy, Dry, Vitamin/Mineral Fortified",Latin America,"Grape, red|| Orange, not specified|| Tangerine...",2005Q1
...,...,...,...,...,...,...,...,...
20532,Juice & Juice Drinks,20533,2005-01-11,United States,"100% Not from Concentrate, 100% Not from Conce...",North America,"Mango|| Grape, not specified|| Grape, white|| ...",2005Q1
34739,Drink Concentrates & Mixes,34740,2005-01-02,France,"Seasonal/In-Out Products, Dry, Low Calorie, Lo...",West Europe,Mango; Passion Fruit,2005Q1
46575,Juice & Juice Drinks,46576,2005-01-11,United States,"100% Reconstituted, Natural, No Additives/Pres...",North America,Mango; Passion Fruit,2005Q1
48214,Juice & Juice Drinks,48215,2005-01-03,Portugal,"100% Reconstituted, No Added Sugar, No Additiv...",West Europe,Passion Fruit; Pear,2005Q1
53811,Energy Drinks,53812,2005-01-06,Canada,"Low Calorie, Low Carb, Sugar Free, Energy/Aler...",North America,Pineapple; Passion Fruit; Peach,2005Q1

In [46]:
hm=dict(zip(listquarter,list1))
hm

{Period('2005Q1', 'Q-DEC'): 5405,
 Period('2005Q3', 'Q-DEC'): 4,
 Period('2009Q1', 'Q-DEC'): 6369,
 Period('2005Q4', 'Q-DEC'): 4,
 Period('2006Q1', 'Q-DEC'): 5146,
 Period('2005Q2', 'Q-DEC'): 9,
 Period('2008Q1', 'Q-DEC'): 5420,
 Period('2007Q1', 'Q-DEC'): 5191,
 Period('2010Q1', 'Q-DEC'): 7405,
 Period('2011Q1', 'Q-DEC'): 9144,
 Period('2012Q1', 'Q-DEC'): 9487,
 Period('2013Q4', 'Q-DEC'): 2,
 Period('2013Q1', 'Q-DEC'): 12075,
 Period('2013Q3', 'Q-DEC'): 0,
 Period('2014Q1', 'Q-DEC'): 11565,
 Period('2010Q3', 'Q-DEC'): 6,
 Period('2010Q2', 'Q-DEC'): 1}

In [47]:
pd.DataFrame.from_dict(hm,orient='index')

            0
2005Q1   5405
2005Q3      4
2009Q1   6369
2005Q4      4
2006Q1   5146
2005Q2      9
2008Q1   5420
2007Q1   5191
2010Q1   7405
2011Q1   9144
2012Q1   9487
2013Q4      2
2013Q1  12075
2013Q3      0
2014Q1  11565
2010Q3      6
2010Q2      1