In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r"C:\Users\Rahul Awari\OneDrive\Desktop\Machine learning A-Z\Machine Learning A-Z (Codes and Datasets)\Part 2 - Regression\Section 5 - Multiple Linear Regression\Python\50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
df2=pd.get_dummies(df['State'])
df3=pd.concat((df,df2),axis=1)
df3.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,0,1
1,162597.70,151377.59,443898.53,California,191792.06,1,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,0,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,0,1,0

In [8]:
y_df=df3['Profit'].tolist()
y_df

[192261.83,
 191792.06,
 191050.39,
 182901.99,
 166187.94,
 156991.12,
 156122.51,
 155752.6,
 152211.77,
 149759.96,
 146121.95,
 144259.4,
 141585.52,
 134307.35,
 132602.65,
 129917.04,
 126992.93,
 125370.37,
 124266.9,
 122776.86,
 118474.03,
 111313.02,
 110352.25,
 108733.99,
 108552.04,
 107404.34,
 105733.54,
 105008.31,
 103282.38,
 101004.64,
 99937.59,
 97483.56,
 97427.84,
 96778.92,
 96712.8,
 96479.51,
 90708.19,
 89949.14,
 81229.06,
 81005.76,
 78239.91,
 77798.83,
 71498.49,
 69758.98,
 65200.33,
 64926.08,
 49490.75,
 42559.73,
 35673.41,
 14681.4]

In [13]:
temp_df=df3.loc[0:,['California','Florida','New York','R&D Spend','Administration','Marketing Spend']]
x_df=temp_df.values.tolist()
x_df

[[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
 [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
 [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
 [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
 [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42],
 [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36],
 [1.0, 0.0, 0.0, 134615.46, 147198.87, 127716.82],
 [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68],
 [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29],
 [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62],
 [0.0, 1.0, 0.0, 101913.08, 110594.11, 229160.95],
 [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55],
 [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44],
 [1.0, 0.0, 0.0, 91992.39, 135495.07, 252664.93],
 [0.0, 1.0, 0.0, 119943.24, 156547.42, 256512.92],
 [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23],
 [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06],
 [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31],
 [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57],
 [0.0, 0.0, 1.0, 86419.7, 153514.11, 0.0],
 [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47],
 [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29],
 [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26],
 [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73],
 [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81],
 [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62],
 [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07],
 [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81],
 [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2],
 [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38],
 [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24],
 [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23],
 [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25],
 [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81],
 [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67],
 [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64],
 [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82],
 [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42],
 [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1],
 [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3],
 [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67],
 [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71],
 [1.0, 0.0, 0.0, 23640.93, 96189.63, 148001.11],
 [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17],
 [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72],
 [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93],
 [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46],
 [1.0, 0.0, 0.0, 0.0, 135426.92, 0.0],
 [0.0, 0.0, 1.0, 542.05, 51743.15, 0.0],
 [1.0, 0.0, 0.0, 0.0, 116983.8, 45173.06]]

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,test_size=0.2,random_state=0)
y_test

[103282.38,
 144259.4,
 146121.95,
 77798.83,
 191050.39,
 105008.31,
 81229.06,
 97483.56,
 110352.25,
 166187.94]

In [17]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [20]:
#vector representation
y_pred=reg.predict(x_test)
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230166,  67851.69209676,  98791.73374686,
       113969.43533013, 167921.06569551])

In [31]:
y_test_np=np.array(y_test)
y_test_col=y_test_np.reshape(len(y_test_np),1)
y_test_fin=y_test_col.tolist()
y_test_fin

[[103282.38],
 [144259.4],
 [146121.95],
 [77798.83],
 [191050.39],
 [105008.31],
 [81229.06],
 [97483.56],
 [110352.25],
 [166187.94]]

In [34]:
y_pred

[103015.20159795521,
 132582.27760816005,
 132447.73845174047,
 71976.09851257835,
 178537.48221055372,
 116161.24230165884,
 67851.6920967556,
 98791.73374686314,
 113969.43533013003,
 167921.06569550512]

In [38]:
listans=[]
listans.append(y_test)
listans.append(y_pred)
pred_res=pd.DataFrame(listans,index=['Test Value','Predicted Value'])
pred_res

,0,1,2,3,4,5,6,7,8,9
Test Value,103282.380000,144259.400000,146121.950000,77798.830000,191050.390000,105008.310000,81229.060000,97483.560000,110352.25000,166187.940000
Predicted Value,103015.201598,132582.277608,132447.738452,71976.098513,178537.482211,116161.242302,67851.692097,98791.733747,113969.43533,167921.065696